
@font-face {
  font-family: "Din Condensed";
  src: url('/fonts/DinCondensed/D-DINCondensed.ttf')
}

*,
*::before,
*::after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-family: 'Din Condensed', sans-serif;
}

body {
  width: 100%;
}

.site-wrapper {
  padding: 1rem;
}

.section-container {
  padding: 1rem;
  margin: 1rem 0;
  outline: 2px solid slateblue;
  border-radius: 6px;
}

.section-container h2 {
  padding-left: 8px;
}

.games-selection-container {
  display: grid;
  gap: 12px;
  grid-auto-flow: column;
  /* grid-auto-columns: 21%; */

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}


.game-selection-tile {
  margin: 1rem 0;
  padding: 0.5rem;
  min-width: 116px;
  border-radius: 8px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.game-selection-tile > img {
  inline-size: 100%;
  object-fit: cover;
  /* max-width: 100%;
  max-height: 100%; */
}

/* .game-selection-tile-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.75rem;
  color: coral;
} */

.game-selection-tile-title {
  font-size: 0.75rem;
  color: coral;
  text-wrap: nowrap;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* GAME CREATION PAGE */

.input-section {
  padding: 0.75rem;
}

.sets-input-section {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  max-width: 1200px;
}

.set-input-card-container {
  max-width: 260px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.set-input-title {
  padding-bottom: 1.6rem;
}

.set-input-sets {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.set-input-sets-input {
  margin: 0.33rem auto;
}

.info-input-section {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}




/* LOADING SPINNER */


.spinner-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 8px solid #FFFEF7;
  border-top: 8px solid #DA704B;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

/* LINKS */

a {
  text-decoration: none;
}
a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}